.btn {
    background: #3498db;
    text-align: center;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .btn:hover {
    background: #3cb0fd;
    text-decoration: none;
  }

  .flipImage {
    width: 100px;
  }

  .gameTile {
    display: inline-block;
    border: 1px solid black;
  }